/*Font Definition für Selektor Tags*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/*Font Definition für Nav, h1, Button*/
.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}

/*Grösse der Beiden Icons auf Startseite*/
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}

th {
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;
  vertical-align: top;
}

td {
  padding-top: 10px;
  vertical-align: top;
}

.left {
  text-align: left;
}
